<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .container{
            border: 2px solid black;
            margin-top: 200px;
            margin-left: 530px;
            width: 450px;
            padding: 50px;
            font-size: 25px;
            border-radius: 20px;
            height: 400px;
        }
        input{
            margin-top: 50px;
        }
        h1{
            color: red;
            margin-left: 80px;
        }
        .button{
            text-decoration: none;
            border: solid black 2px;
            color: black;
            background-color: wheat;
            padding: 1px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">New salary</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            </div>
        </div>
       
      </nav>
    <div class="container">
        <h1>Confirm!!</h1>
        <form action="/workers_register/submit/change_salary/submit" method="post">
            <input type="text" placeholder="Enter your register mobile number" name="number"  style="margin-left: 20PX;">
            <input type="number" placeholder="Enter new expected salary" name="salary"  style="margin-left: 20PX;">
            <input type="submit" style="margin-left: 100px;">
            <a class="button" href="/old_worker" type="button">Back</a>
        </form>
    </div>
</body>
</html>