<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            border: solid black 2px;
            border-radius: 20px;
        }
        .container{
            color: green;
            border: solid 2px black;
            border-radius: 20px;
            margin-left: 550px;
            margin-top: 200px;
            height: 400px;
            width: 400px;
            text-align: center;
            align-items: center;
            margin-bottom: 80px;
            font-size: 25px;
            /* padding-top: 100px; */
        }
        h1{
            padding-top: 100px;
        }
        .sub{
            border: solid black 2px;
            border-radius: 20px;
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <div class="sub">
        <h2 style="text-align: center; padding-top: 0px;">RESPONSE</h2>
    </div>
    <div class="container">
        
      <h1><%=RESPONSE%></h1>
    </div>
</body>
</html>