<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border:1px solid black;
            padding: 15px;
        }
    </style>
</head>
<body>
      
            <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Workers_name</th>
                    <th>Mo_no</th>
                    <th>payment</th>
                </tr>
                
            </thead>
            
        
            <tbody>
                <%x.forEach((y)=>{%>

                    <tr>
                        <th><%=y.emp_name%></th>
                        <th><%=y.mo_no%></th>
                        <th><%=y.salary%></th>
                    </tr>
                <% })%>
            </tbody>
        </table>
        

</body>
</html>