<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .container{
            border: solid black 2px;
            margin-left: 550px;
            margin-top: 100px;
            width: 400px;
            height: 450px;
            border-radius: 20px;
            padding: 20px;
            background-color: black;
            color: white;
        }
        .sub{
            border: solid black 2px;
            border-radius: 20px;
            background-color: yellow;
            color: black;
        }
        .button{
            margin-left: 320px;
            margin-top: 50px;
        
        }
        .button2{
            margin-left: 600px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="sub">
        <h2 style="text-align: center; padding-top: 0px;">RESPONSE</h2>
    </div>
    <div class="container">
    <h1>your are already join with us if you want Modify your info them modify else if you want to delete your data then click on delete else click on ok</h1>
    
    </div>
    <div class="button">
        <a href="/workers_register/submit/change_mo_no" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Change your Mo_no</a>
        <a href="/workers_register/submit/change_city" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Change your City</a>
        <a href="/workers_register/submit/change_proff" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Change your Proff</a>
        <a href="/workers_register/submit/change_salary" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Change your salary</a>
        
    </div>
    <div class="button2">
        <a href="/old_worker/delete" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Delete Your Data</a>
        <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Ok</a>
    </div>
</body>
</html>